@{
    ViewBag.Title = "Centro de Especialidades Medicas VACARI";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<label>Usuario</label>
<input />
<label>Contraseña</label>
<input />
<button>Ingresos</button>