
@{
    ViewBag.Title = "BuscarPaciente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Buscar Paciente</h2>

<div class="row">
    <div class="col-md-3">
        <p><label>Nombre</label> </p>
        <input />
    </div>

    <div class="col-md-3">
        <p><label>Cedula</label></p>
        <input />
    </div>

    <div class="col-md-3">
        <p><label>Nº Historia Clinica</label></p>
        <input />
    </div>

    <div class="col-md-3">
        <button>BUSCAR</button>
    </div>
</div>

<p>
    <table class="table">
        <tr>
            <th scope="col">Paciente</th>
            <th scope="col">Historia Cl&iacute;nica</th>
            <th scope="col">C&eacute;dula</th>
        </tr>
        <tr>
            <td>JUAN DAVID MOLINA PEREZ</td>
            <td>00001</td>
            <td>1234567890</td>
        </tr>
    </table>
</p>

<p><button>NUEVO PACIENTE</button></p>


