
@{
    ViewBag.Title = "CitaMedicaListar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Citas Médicas</h2>

<div class="table-responsive">
    <table class="table">
        <tr>
            <th scope="col">Paciente</th>
            <th scope="col">Historia Cl&iacute;nica</th>
            <th scope="col">C&eacute;dula</th>
            <th scope="col">M&eacute;dico</th>
            <th scope="col">Pagado</th>
            <th scope="col">Enfermer&iacute;a</th>
            <th scope="col">Atenci&oacute;n</th>
        </tr>
        <tr>
            <td>JUAN DAVID MOLINA PEREZ</td>
            <td>00001</td>
            <td>1234567890</td>
            <td>MEDICO 1</td>
            <td>SI</td>
            <td>SI</td>
            <td>SI</td>
        </tr>
    </table>
    <button>Eliminar</button>
    <button>Nueva</button>

</div>

