
@{
    ViewBag.Title = "CitaMedicaListar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Citas Médicas</h2>

<div class="table-responsive">
    <table class="table">
        <tr>
            <th scope="col">Paciente</th>
            <th scope="col">Historia Cl&iacute;nica</th>
            <th scope="col">C&eacute;dula</th>
            <th scope="col">M&eacute;dico</th>
            <th scope="col">Pagado</th>
            <th scope="col">Enfermer&iacute;a</th>
            <th scope="col">Atenci&oacute;n</th>
            <th scope="col">Facturado</th>
        </tr>
        <tr>
            <td scope="col">JUAN DAVID MOLINA PEREZ</td>
            <td scope="col">00001</td>
            <td scope="col">1234567890</td>
            <td scope="col">MEDICO 1</td>
            <td scope="col">SI</td>
            <td scope="col">SI</td>
            <td scope="col">SI</td>
            <td scope="col">SI</td>
        </tr>
    </table>
    <button>ELIMINAR</button>
    <button>MODIFICAR</button>
    <button>FACTURAR</button>
    <button>Nueva</button>

</div>

