
@{
    ViewBag.Title = "CitaMedicaListar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Citas Médicas</h2>

<div class="table-responsive">
    <table class="table">
        <tr>
            <th scope="col">Paciente</th>
            <th scope="col">Historia Cl&iacute;nica</th>
            <th scope="col">C&eacute;dula</th>
            <th scope="col">M&eacute;dico</th>
            <th scope="col">Pagado</th>
            <th scope="col">Enfermer&iacute;a</th>
            <th scope="col">Atenci&oacute;n</th>
        </tr>
    </table>
</div>

