
@{
    ViewBag.Title = "DiagnosticoSOAP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Diagnostico SOAP</h2>

<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">S</span>
    </div>
    <textarea class="form-control" aria-label="With Text"></textarea>
</div>
<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">O</span>
    </div>
    <textarea class="form-control" aria-label="With Text"></textarea>
</div>
<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">A</span>
    </div>
    <textarea class="form-control" aria-label="With Text"></textarea>
</div>
<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">P</span>
    </div>
    <textarea class="form-control" aria-label="With Text"></textarea>
</div>
<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">Diagnóstico</span>
    </div>
    <textarea class="form-control" aria-label="With Text"></textarea>
</div>

<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">CIE-10</span>
    </div>
    <select>
        <option value="ABC-01">ABC-01</option>
        <option value="DEF-23">DEF-23</option>
        <option value="GHI-45">GHI-45</option>
    </select>
</div>

<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">Reposo en d&iacute;as</span>
    </div>
    <select>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
    </select>
</div>
<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">Indicaciones</span>
    </div>
    <textarea class="form-control" aria-label="With Text"></textarea>
</div>
<button>Guardar</button>
