
@{
    ViewBag.Title = "Egreso";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Egreso</h2>

<div>
    <label>Provedor</label>
    <input />
    <label>Detalle</label>
    <input />
    <label>Valor</label>
    <input />
    <button>Ingresar</button>
    <button>Eliminar</button>
    <button>Modificar</button>
</div>

<table class="table">
    <tr>
        <th scope="col">Provedor</th>
        <th scope="col">Detalle</th>
        <th scope="col">Egreso</th>
    </tr>
    <tr>
        <td scope="col">JUAN DAVID MOLINA PEREZ</td>
        <td scope="col">00001</td>
        <td scope="col">1234567890</td>
</table>

<button>Regreso</button>

