
@{
    ViewBag.Title = "FrecuenciaRespiratoria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Frecuencia Respiratoria</h2>

<div class="table-responsive">
    <table class="table">
        <tr>
            <th scope="col">Fecha</th>
            <th scope="col">FR</th>

        </tr>
        <tr>
            <td>99</td>
            <td>99</td>
        </tr>
    </table>
</div>

<button>Regresar</button>