
@{
    ViewBag.Title = "HistoriaClinica";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>HistoriaClinica</h2>

<h3>Encabezado</h3>


<p><label>Nº Historia Clinica</label></p>
<input />

<p><label>Nombre Completo</label></p>
<input />

<p><label>Cedula</label></p>
<input />

<p><label>Direccion</label></p>
<input />

<p><label>Telefono</label></p>
<input />

<p>
    <label>Genero</label>
    <br>
    <input type="radio" name="genero" value="femenino" /> Femenino <br>
    <input type="radio" name="genero" value="masculino" /> Masculino <br>
</p>

<p><label>Estado Civil</label></p>
<select>
    <option value="soltero">SOLTERO</option>
    <option value="casado">CASADO</option>
    <option value="viudo">VIUDO</option>
    <option value="divorciado">DIVORCIADO</option>
    <option value="union libre">UNION LIBRE</option>
</select>

<p><label>Tipo de Sangre</label></p>
<select>
    <option value="a+">A+</option>
    <option value="a-">A-</option>
    <option value="b+">B+</option>
    <option value="b-">B-</option>
    <option value="ab+">AB+</option>
    <option value="ab-">AB-</option>
    <option value="o+">O+</option>
    <option value="o+">O-</option>
</select>

<p><label>Contacto de Emergemcia</label></p>
<input />

<p><label>Afinidad</label></p>
<input />

<p><label>Telefono</label></p>
<input />

<p><label>Alergias</label></p>
<input />

<h3>Signos Vitales</h3>

<button>Temperatura</button>
<button>Precion Arterial</button>
<button>FR</button>
<button>FC</button>
<button>Peso</button>
<button>Talla</button>
<button>IMC</button>

<div class="table-responsive">
    <table class="table">
        <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Temperatura</th>
            <th scope="col">Precion Arterial</th>
            <th scope="col">FT</th>
            <th scope="col">FC</th>
            <th scope="col">Peso</th>
            <th scope="col">Talla</th>
        </tr>
        <tr>
            <td>99</td>
            <td>99</td>
            <td>99</td>
            <td>99</td>
            <td>99</td>
            <td>99</td>
            <td>99</td>
        </tr>
    </table>

</div>

<h3>Consulta</h3>
<label>S</label>
<textarea></textarea>
<label>O</label>
<textarea></textarea>
<label>A</label>
<textarea></textarea>
<label>P</label>
<textarea></textarea>

<h3>Diagnostico</h3>
<label>Enfermedad</label>
<input />
<label>CIE-10</label>
<input />
<label>CIE-10</label>
<input />
<label>Reposo</label>
<input />
<label>Indicaciones</label>
<textarea></textarea>
<button>Guardar</button>

<h3>Diagnosticos Previos</h3>
<label>Dia</label>
<select>
    <option value="01">01</option>
    <option value="02">02</option>
    <option value="03">03</option>
    <option value="04">04</option>
    <option value="05">05</option>
    <option value="06">06</option>
    <option value="07">07</option>
    <option value="08">08</option>
    <option value="09">09</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
    <option value="19">19</option>
    <option value="20">20</option>
    <option value="21">21</option>
    <option value="22">22</option>
    <option value="23">23</option>
    <option value="24">24</option>
    <option value="25">25</option>
    <option value="26">26</option>
    <option value="27">27</option>
    <option value="28">28</option>
    <option value="29">29</option>
    <option value="30">30</option>
    <option value="31">31</option>
</select>

<p><label>Mes</label></p>
<select>
    <option value="01">Enero</option>
    <option value="02">Febrero</option>
    <option value="03">Marzo</option>
    <option value="04">Abril</option>
    <option value="05">Mayo</option>
    <option value="06">Junio</option>
    <option value="07">Julio</option>
    <option value="08">Agosto</option>
    <option value="09">Septiembre</option>
    <option value="10">Octubre</option>
    <option value="11">Noviembre</option>
    <option value="12">Diciembre</option>
</select>

<p><label>Año</label></p>
<select>
    <option value="2001">2001</option>
    <option value="2002">2002</option>
    <option value="2003">2003</option>
    <option value="2004">2004</option>
    <option value="2005">2005</option>
    <option value="2006">2006</option>
    <option value="2007">2007</option>
    <option value="2008">2008</option>
    <option value="2009">2009</option>
    <option value="2010">2010</option>
    <option value="2011">2011</option>
    <option value="2012">2012</option>
    <option value="2013">2013</option>
    <option value="2014">2014</option>
    <option value="2015">2015</option>
    <option value="2016">2016</option>
    <option value="2017">2017</option>
    <option value="2018">2018</option>
</select>

<button>Buscar</button>

<div class="table-responsive">
    <table class="table">
        <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Medico</th>
            <th scope="col">Diagnostico</th>
            <th scope="col">CIE-10</th>
            <th scope="col">Reposo</th>
            <th scope="col">Indicaciones</th>
        </tr>
        <tr>
            <td>99</td>
            <td>99</td>
            <td>99</td>
            <td>99</td>
            <td>99</td>
            <td>99</td>
        </tr>
    </table>
</div>

<h3>Procedimiento</h3>

<p>
    <br>
    <input type="radio" name="procedimiento" value="procedimiento a" /> Procedimiento A <br>
    <input type="radio" name="procedimiento" value="procedimiento b" /> Procedimiento B <br>
    <input type="radio" name="procedimiento" value="procedimiento a" /> Procedimiento C <br>
    <input type="radio" name="procedimiento" value="procedimiento b" /> Procedimiento D <br>
    <input type="radio" name="procedimiento" value="procedimiento a" /> Procedimiento E <br>
</p>

<button>Resultados de Examenes</button>
<button>Pedidos de Examenes</button>
<button>Certificados</button>
<button>Guardar</button>


