
@{
    ViewBag.Title = "InformeContable";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Informe Contable</h2>

<div>
    <input type="radio" name="periodo" value="diario" />Diario <br />
    <input type="radio" name="periodo" value="mensual" />Mensual <br />
    <input type="radio" name="periodo" value="anual" />Anual <br />
</div>

<div>
    <input type="radio" name="tipo" value="ingreso" />Ingreso <br />
    <input type="radio" name="tipo" value="egreso" />Egreso <br />
</div>

<div class="table-responsive">
    <table class="table">
        <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Servicio</th>
            <th scope="col">Detalle</th>
            <th scope="col">Valor</th>
        </tr>
        <tr>
            <td scope="col">JUAN DAVID MOLINA PEREZ</td>
            <td scope="col">00001</td>
            <td scope="col">1234567890</td>
            <td scope="col">MEDICO 1</td>
        </tr>
    </table>
</div>

<button>Regreso</button>