@{
    ViewBag.Title = "Ingresar Cita Medica";
}
<h2>@ViewBag.Title.</h2>

<div class="row">
    <div class="col-md-4">
        <p><label>Nombre</label> </p>
        <input />
    </div>

    <div class="col-md-4">
        <p><label>Cedula</label></p>
        <input />
    </div>

    <div class="col-md-4">
        <p><label>Nº Historia Clinica</label></p>
        <input />
    </div>
</div>

<p>
    <table class="table">
        <tr>
            <th scope="col">Paciente</th>
            <th scope="col">Historia Cl&iacute;nica</th>
            <th scope="col">C&eacute;dula</th>
        </tr>
        <tr>
            <td>JUAN DAVID MOLINA PEREZ</td>
            <td>00001</td>
            <td>1234567890</td>
        </tr>
    </table>
</p>


<div class="row">
    <div class="col-md-3">
        <p><label>Tipo cita</label></p>
        <select>
            <option value="cita a">CITA A</option>
            <option value="cita b">CITA B</option>
            <option value="cita c">CITA C</option>
            <option value="cita d">CITA D</option>
        </select>
    </div>
    <div class="col-md-3">
        <p><label>Medico</label></p>
        <select>
            <option value="medico a">MEDICO A</option>
            <option value="medico b">MEDICO B</option>
            <option value="medico c">MEDICO C</option>
            <option value="medico d">MEDICO D</option>
        </select>
    </div>
    <div class="col-md-3">
        <button>Ingresar</button>
    </div>
    <div class="col-md-3">
        <button>Nueva HC</button>
    </div>
</div>

        




