
@{
    ViewBag.Title = "IngresoPersonal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ingreso Personal</h2>

<p><label>Nombre Completo</label></p>
<input />

<p><label>Cedula</label></p>
<input />

<p><label>Direccion</label></p>
<input />

<p><label>Telefono</label></p>
<input />

<p><label>Cargo</label></p>
<select>
    <option value="administrador">Administrador</option>
    <option value="enfermera">Enfermera</option>
    <option value="laboratorista">Laboratorista</option>
    <option value="medico">Medico</option>
    <option value="recepcionista">Recepcionista</option>
</select>