
@{
    ViewBag.Title = "Inventario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Inventario</h2>

<div class="row">
    <div class="col-md-4">
        <p><label>Producto</label> </p>
        <input />
    </div>

    <div class="col-md-4">
        <p><label>Tipo</label></p>
        <select>
            <option value="tipo1">Tipo 1</option>
            <option value="tipo2">Tipo 2</option>
            <option value="tipo3">Tipo 3</option>
        </select>
    </div>

    <div class="col-md-4">
        <p><label>Cantidad</label></p>
        <input />
    </div>

    <div class="col-md-4">
        <p><label>Lote</label></p>
        <input />
    </div>

    <div class="col-md-4">
        <p><label>Fecha de vencimiento</label></p>
        <input />
    </div>
</div>

<button>Ingresar</button>

<div class="table-responsive">
    <table class="table">
        <tr>
            <th scope="col">Producto</th>
            <th scope="col">Tipo</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Lote</th>
            <th scope="col">Fecha de Vencimiento</th>
        </tr>
        <tr>
            <td scope="col">JUAN DAVID MOLINA PEREZ</td>
            <td scope="col">00001</td>
            <td scope="col">1234567890</td>
            <td scope="col">MEDICO 1</td>
            <td scope="col">SI</td>
        </tr>
    </table>
</div>

