@{
    ViewBag.Title = "Centro de Especialdides Medicas VACARI";
}

<div class="jumbotron">
    <h1>Centro de Especialdides Medicas VACARI</h1>
    <p class="lead">El Centro de Especialdides Medicas VACARI brinda mulpiples servicios .</p>
   
</div>

<div>
    <p>Tipo de usuario</p>
    <select>
        <option value="administrador">Administrador</option>
        <option value="enfermera">Enfermera</option>
        <option value="laboratorista">Laboratorista</option>
        <option value="medico">Medico</option>
        <option value="recepcionista">Recepcionista</option>
    </select>
        
    <p>Usuario</p>
    <input />
    <p>Contraseña</p>
    <input />
    <button>Ingreso</button>

</div>