@{
    ViewBag.Title = "Centro de Especialdides Medicas VACARI";
}

<div class="jumbotron">
    <div class="col-md-5">
        <img src="~/Imagines/logovacari.jpg" width="250" height="250" style="background-position:left" />
    </div>
    <div class="col-md-5">
        <h2 style="text-align:center">Centro de Especialdides Medicas</h2>
        <h2 style="text-align:center">"VACARI"</h2>
        <h3 style="text-align:center" class="lead">CUIDAMOS DE TU SALUD.</h3>
    </div>
</div>

<div>   
    <p>Usuario</p>
    <p><input /></p>
    <p>Contraseña</p>
    <p><input /></p>
    <p><button>Ingreso</button></p>
</div>