@{
    ViewBag.Title = "Nueva Historia Clinica";
}
<h2>@ViewBag.Title.</h2>

<p><label>Nº Historia Clinica</label></p>
<input />

<p><label>Nombre Completo</label></p>
<input />

<p><label>Cedula</label></p>
<input />

<p><label>Direccion</label></p>
<input />

<p><label>Telefono</label></p>
<input />

<p>
    <label>Genero</label>
    <br>
    <input type="radio" name="genero" value="femenino" /> Femenino <br>
    <input type="radio" name="genero" value="masculino" /> Masculino <br>
</p>

<p><label>Estado Civil</label></p>
<select>
    <option value="soltero">SOLTERO</option>
    <option value="casado">CASADO</option>
    <option value="viudo">VIUDO</option>
    <option value="divorciado">DIVORCIADO</option>
    <option value="union libre">UNION LIBRE</option>
</select>

<p><label>Tipo de Sangre</label></p>
<select>
    <option value="a+">A+</option>
    <option value="a-">A-</option>
    <option value="b+">B+</option>
    <option value="b-">B-</option>
    <option value="ab+">AB+</option>
    <option value="ab-">AB-</option>
    <option value="o+">O+</option>
    <option value="o+">O-</option>
</select>

<p><label>Contacto de Emergemcia</label></p>
<input />

<p><label>Afinidad</label></p>
<input />

<p><label>Telefono</label></p>
<input />

<p><label>Alergias</label></p>
<input />

<button>CREAR</button>
<button>CITA</button>
<button>PROCEDIMIENTO</button>
<button>LABORATORIO</button>
<button>GUARDAR</button>



