
@{
    ViewBag.Title = "PagosPersonal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pagos Personal</h2>

<div class="table-responsive">
    <table class="table">
        <tr>
            <th scope="col">Personal</th>
            <th scope="col">Citas</th>
            <th scope="col">Procedimientos</th>
            <th scope="col">Total</th>
        </tr>
        <tr>
            <td scope="col">JUAN DAVID MOLINA PEREZ</td>
            <td scope="col">00001</td>
            <td scope="col">1234567890</td>
            <td scope="col">111111</td>
        </tr>
    </table>
</div>

<p><label>Total</label></p>
<input />


