
@{
    ViewBag.Title = "PedidoExamen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pedido Examen Medico</h2>

<p><label>Nombre Completo</label></p>
<input />

<p><label>Cedula</label></p>
<input />

<p><label>Fecha</label></p>
<input />

<p><label>Direccion</label></p>

<p><label>Telefono</label></p>
<input />

<h3>Hermatología</h3>
<input type="checkbox" name="hematologia" value="BiometriaHematica" /> Biometria Hemática <br>
<input type="checkbox" name="hematologia" value="FormulaLeucocitaria" /> Fórmula Leucocitaria <br>
<input type="checkbox" name="hematologia" value="NumeroLeucocitos" /> Numero Leucocitos <br>
<input type="checkbox" name="hematologia" value="Sedimentacion" /> Sedimentación <br>
<input type="checkbox" name="hematologia" value="GrupoSanguineoRh" /> Grupo Sanguineo Rh <br>
<input type="checkbox" name="hematologia" value="CoombsDirecto" /> Coombs Directo <br>
<input type="checkbox" name="hematologia" value="CoombsIndirecto" /> Coombs Indirecto <br>
<input type="checkbox" name="hematologia" value="Reticulocitos" /> Reticulocitos <br>
<input type="checkbox" name="hematologia" value="CelulasLE" /> Celulas L.E. <br>
<input type="checkbox" name="hematologia" value="Hematozoario" /> Hematozoario <br>

<h3>Coagulación</h3>
<input type="checkbox" name="coagulacion" value="TiempoCoagulacion" /> Tiempo de Coagulación <br>
<input type="checkbox" name="coagulacion" value="TiempoHemorragia" /> Tiempo de Hemorragia <br>
<input type="checkbox" name="coagulacion" value="RetracciónCoagulo" /> Retracción del Cóagulo <br>
<input type="checkbox" name="coagulacion" value="RetracciónCoagulo" /> Retracción del Cóagulo <br>
<input type="checkbox" name="coagulacion" value="Fibrinogeno" /> Fibrinogeno <br>









