
@{
    ViewBag.Title = "ProformaExamenMedico";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Proforma de Examen M&eacute;dico</h2>

<div class="table-responsive">
    <table class="table">
        <tr>
            <th scope="col">Examen</th>
            <th scope="col">Valor</th>
        </tr>
        <tr>
            <td scope="col">Examen1</td>
            <td scope="col">$$$</td>
        </tr>
        <tr>
            <td scope="col">Examen2</td>
            <td scope="col">$$$</td>
        </tr>
        <tr>
            <td scope="col">Examen3</td>
            <td scope="col">$$$</td>
        </tr>
        <tr>
            <th scope="col">Total</th>
            <th scope="col">$$$</th>
        </tr>
    </table>
</div>
<button>Regresar</button>

